@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Muli');

$text-gray: rgb(108,120,114);
$green: rgb(43,214,126);
$light-green: #cef5e2;


.maildetail{
	width: 550px;
	font-family: 'Muli', sans-serif;
}
.nothing{
	width: 550px;
}

.title{
	background-color: #fff;
	padding-top: 20px;
	padding-left:30px;
	span{
		color:$text-gray;
		font-size:12px;
		line-height: 30px;
	}
	i{
		margin-left:20px;
		cursor:pointer;
		font-size:16px;
	}
}
.from,.address{
	display: inline-block;
}
.address{
	position: absolute;
	right:50px;
	color:$text-gray;
	font-size:12px;
}
.subject{
	margin-top:30px;
	font-size:25px;
}
.reply{
	padding-left:30px;
	textarea{
		margin-top:10px;
		resize:none;
		border:1px solid gray;
		background-color: #fff;
	}
}
.send{
	display: block;
	border-style:none;
	outline:0;
	font-weight: 400;
	font-size:16px;
	text-transform: uppercase;
	padding:5px 15px;
	background-color: $green;
	border-radius:3px;
	color:#fff;
	cursor: pointer;
	position: absolute;
	right:50px;
	margin-top:10px;
	&:hover{
		box-shadow: 0 0 20px $green;
	}
}


.body{
	margin-top: 20px;
	padding: 20px 30px;
	font-size:14px;
	font-weight: 100;
}
.background{
	background: linear-gradient(180deg, #eee,#fff);
}
.success{
	display: none;
	position: absolute;
	color: $green;
	font-size:100px;
	left:50%;
	top:47%;
	transform: translate(-50%,-100%);
	.fa{
		background-color:#fff;

	}
}
